div.waves{
  width: 100%;
  bottom: 0;
  z-index: -1;
}

svg{
  width: 105%;
  position: fixed; bottom:0;
  animation-name: move-left;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}